/*
Error: Invalid US-ASCII character "\xE9"
        on line 1 of variable.scss

1: //颜色定义规范
2: $color-background:#222;
3: $color-background-d:rgba(0,0,0,.3);
4: $color-highlight-background : #333;
5: $color-dialog-background:#666;
6: $color-theme : #ffcd32;

Backtrace:
variable.scss:1
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/util.rb:1041:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/util.rb:1038:in `block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/util.rb:1037:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/util.rb:1037:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/util.rb:1037:in `find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/util.rb:765:in `check_sass_encoding'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/engine.rb:444:in `check_encoding!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/engine.rb:400:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/exec/base.rb:50:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/lib/sass/exec/base.rb:18:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.6.0/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:22:in `load'
/usr/local/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE9\"\A         on line 1 of variable.scss\A \A 1: //颜色定义规范\A 2: $color-background:#222;\A 3: $color-background-d:rgba(0,0,0,.3);\A 4: $color-highlight-background : #333;\A 5: $color-dialog-background:#666;\A 6: $color-theme : #ffcd32;"; }
